<header class="tech-header header">
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/user"><img src="/images/version/tech-logo.png" alt=""></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/user">Trang chủ</a>
                    </li>
                    <li class="nav-item dropdown has-submenu menu-large hidden-md-down hidden-sm-down hidden-xs-down">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Tin tức</a>
                        <ul class="dropdown-menu megamenu" aria-labelledby="dropdown01">
                            <li>
                                <div class="container">
                                    <div class="mega-menu-content clearfix">
                                        <div class="tab">
                                            <button class="tablinks active" onclick="openCategory(event, 'cat01')" id="khoa-hoc" name="Khoa học">Khoa 
                                                học</button>
                                            <button class="tablinks" onclick="openCategory(event, 'cat02')" id="cong-nghe" name="Công nghệ">Công
                                                nghệ</button>
                                            <button class="tablinks" onclick="openCategory(event, 'cat03')" id="mang-xa-hoi" name="Mạng xã hội">Mạng xã
                                                hội</button>
                                            <button class="tablinks" onclick="openCategory(event, 'cat04')" id="tin-tuc-xe-hoi" name="Tin tức xe hơi">Tin tức xe
                                                hơi</button>
                                            <button class="tablinks" onclick="openCategory(event, 'cat05')" id="y-te" name="Y tế">Y tế</button>
                                        </div>

                                        <div class="tab-details clearfix">
                                            <div id="cat01" class="tabcontent active">
                                                <div class="row">
                                                    {{#each postsheadercat01}}
                                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="blog-box">
                                                            <div class="post-media post-media-header">
                                                                <a href="{{this.link}}" title="">
                                                                    <img src="/images/{{this.image}}" alt=""
                                                                        class="img-fluid">
                                                                    <div class="hovereffect">
                                                                    </div><!-- end hover -->
                                                                    <span class="menucat">{{this.topic}}</span>
                                                                </a>
                                                            </div><!-- end media -->
                                                            <div class="blog-meta">
                                                                <h4><a href="{{this.link}}" title="">{{this.name}}</a></h4>
                                                            </div><!-- end meta -->
                                                        </div><!-- end blog-box -->
                                                    </div>
                                                    {{/each}}
                                                </div><!-- end row -->
                                            </div>
                                            <div id="cat02" class="tabcontent">
                                                <div class="row">
                                                    {{#each postsheadercat02}}
                                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="blog-box">
                                                            <div class="post-media post-media-header">
                                                                <a href="{{this.link}}" title="">
                                                                    <img src="/images/{{this.image}}" alt=""
                                                                        class="img-fluid">
                                                                    <div class="hovereffect">
                                                                    </div><!-- end hover -->
                                                                    <span class="menucat">{{this.topic}}</span>
                                                                </a>
                                                            </div><!-- end media -->
                                                            <div class="blog-meta">
                                                                <h4><a href="{{this.link}}" title="">{{this.name}}</a></h4>
                                                            </div><!-- end meta -->
                                                        </div><!-- end blog-box -->
                                                    </div>
                                                    {{/each}}
                                                </div><!-- end row -->
                                            </div>
                                            <div id="cat03" class="tabcontent">
                                                <div class="row">
                                                    {{#each postsheadercat03}}
                                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="blog-box">
                                                            <div class="post-media post-media-header">
                                                                <a href="{{this.link}}" title="">
                                                                    <img src="/images/{{this.image}}" alt=""
                                                                        class="img-fluid">
                                                                    <div class="hovereffect">
                                                                    </div><!-- end hover -->
                                                                    <span class="menucat">{{this.topic}}</span>
                                                                </a>
                                                            </div><!-- end media -->
                                                            <div class="blog-meta">
                                                                <h4><a href="{{this.link}}" title="">{{this.name}}</a></h4>
                                                            </div><!-- end meta -->
                                                        </div><!-- end blog-box -->
                                                    </div>
                                                    {{/each}}
                                                </div><!-- end row -->
                                            </div>
                                            <div id="cat04" class="tabcontent">
                                                <div class="row">
                                                    {{#each postsheadercat04}}
                                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="blog-box">
                                                            <div class="post-media post-media-header">
                                                                <a href="{{this.link}}" title="">
                                                                    <img src="/images/{{this.image}}" alt=""
                                                                        class="img-fluid">
                                                                    <div class="hovereffect">
                                                                    </div><!-- end hover -->
                                                                    <span class="menucat">{{this.topic}}</span>
                                                                </a>
                                                            </div><!-- end media -->
                                                            <div class="blog-meta">
                                                                <h4><a href="{{this.link}}" title="">{{this.name}}</a></h4>
                                                            </div><!-- end meta -->
                                                        </div><!-- end blog-box -->
                                                    </div>
                                                    {{/each}}
                                                </div><!-- end row -->
                                            </div>
                                            <div id="cat05" class="tabcontent">
                                                <div class="row">
                                                    {{#each postsheadercat05}}
                                                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
                                                        <div class="blog-box">
                                                            <div class="post-media post-media-header">
                                                                <a href="{{this.link}}" title="">
                                                                    <img src="/images/{{this.image}}" alt=""
                                                                        class="img-fluid">
                                                                    <div class="hovereffect">
                                                                    </div><!-- end hover -->
                                                                    <span class="menucat">{{this.topic}}</span>
                                                                </a>
                                                            </div><!-- end media -->
                                                            <div class="blog-meta">
                                                                <h4><a href="{{this.link}}" title="">{{this.name}}</a></h4>
                                                            </div><!-- end meta -->
                                                        </div><!-- end blog-box -->
                                                    </div>
                                                    {{/each}}
                                                </div><!-- end row -->
                                            </div>
                                        </div><!-- end tab-details -->
                                    </div><!-- end mega-menu-content -->
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/tech-category-01">Tiện ích</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/tech-category-02">Góc nhìn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/tech-category-03">Tip và tricks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/contact">Liên hệ</a>
                    </li>
                </ul>
                <ul class="navbar-nav mr-2">
                    <li class="nav-item">
                        <form class="d-flex nav-item-search" action="/user/" method="post">
                            <input class="form-control me-2" type="search" id="name" name="name" placeholder="Search" aria-label="Search">
                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </li>
                    {{#if IsAuthenticated}}

                    <li class="nav-item dropdown">
                        <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown">{{AuthUser.firstName}} {{AuthUser.lastName}}</a>
                        <ul class="dropdown-menu account-menu">
                            <li><a href="#">Hồ sơ</a></li>
                            <li><a href="/user/logout">Đăng xuất</a></li>
                        </ul>
                    </li>

                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="/user/login">Đăng nhập</i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/register">Đăng kí</i></a>
                    </li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </div><!-- end container-fluid -->
</header><!-- end market-header -->